{% extends 'layout.twig' %}

{% block body %}
    <div id="map"></div>
    <canvas id="canvas"></canvas>

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=4SUOswuyXWNUV5kSUGoxgQx4ms7lamxh"></script>
    <script type="text/javascript" src="/javascripts/mapv.min.js"></script>
    <script type="text/javascript" src="/javascripts/survey.report.js"></script>
{% endblock %}