<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>新锦成调研实时监控</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->    
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #map {
            width: 100%;
            height: 100%;
        }

        .BMap_cpyCtrl {
            display: none;
        }
 
        .anchorBL {
            display: none;
        }

        #report_title_text {
            color: #ff0;
            text-shadow: 1px -1px #00f;
        }
        #report_info_pad_list {
            color: #09f;
        }
    </style>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
